.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 800px;
    position: relative;
    left: 230px;
}

.active {
    background-color: sienna;;
}


h1 {
    padding: 10px;
    margin: 0;
    color: #0d0d0e;
    text-align: center;
}

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ca0f0f;
    background-color: rgb(240, 240, 192);
    border-radius: 18px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    transform: translate(2.2%);
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    width: 100%;
    transform: translate(2.2%);
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,
button {
    background-color: sienna;;
}

div.contenedor {
    border-radius: 50px;
    background-color: silver;
    padding: 40px;
    border: solid rgb(7, 1, 56) 2px;
}

.limpiar-btn:hover {
    background-color: sienna;;
}

.limpiar-btn:active {
    background-color: sienna;;
}

#contador {
    color: red;
    font-size: 12px; /* Puedes ajustar el tamaño de fuente según tus preferencias */
    text-align: right;
}

footer{
    margin-top: 20px;
}