h2{
    font-size: 25px;
}

h3, h4{
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #880376;
  }

li {
    color: #000;
  }

p{
    margin-bottom: 5px;
    margin-top: 5px;
}

li {
  color: blue;
}

i{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
}

#iconrepo {
  position: relative;
  left: -18px;
  top: 3px;
}

#iconms {
  position: relative;
  left: -18px;
}

#icontateti {
  position: relative;
  left: -18px;
  top: 5px;
}

.ref:visited {
    color: black; 
}

.ref:hover {
    color: #6e2206; 
}

.lista {
    margin-bottom: 1px;
    list-style-type: square; 
    margin-top: 5px;
}

.lista li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
  }

  .div1{
    background-color: burlywood;
    width: 25%; /* O el ancho deseado para div1 y div2 */
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000; /* Borde para visualización */
    position: relative;
    left: 85px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .div2 {
    background-color: wheat;
    width: 25%; /* O el ancho deseado para div1 y div2 */
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000; /* Borde para visualización */
    position: relative;
    left: 480px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .div3 {
    background-color: darkkhaki;
    height: 250px;
    width: 25%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000; /* Borde para visualización */
    position: relative;
    top: 350px;
    right: 230px;
    margin-bottom: 5px;
  }

  .uldiv3, 
  .uldiv4{
    list-style-type: none;
  }

  @media (max-width: 600px) {
    .div1, .div2, .div3 {
      width: 100%;
    }
  }


  #icon1{
    position: relative;
    left: 75px;
    bottom: 45px;
    
  }

  #java{
    position: relative;
    right: -35px;
    bottom: 35px;
  }

  #python{
    position: relative;
    right: -60px;
    bottom: 35px;
  }

  #sql{
    position: relative;
    right: -35px;
    bottom: 35px;
  }

  #github{
    position: relative;
    right: -55px;
    bottom: 35px;
  }

  #bash{
    position: relative;
    right: -95px;
    bottom: 30px;
  }

  #html{
    position: relative;
    right: -55px;
    bottom: 30px;
  }

  #css{
    position: relative;
    right: -35px;
    bottom: 30px;
  }

  #js{
    position: relative;
    right: -85px;
    bottom: 30px;
  }

  #react{
    position: relative;
    right: -45px;
    bottom: 30px;
  }


.foot{
    margin-top: 15px;
    position: relative;
    top: 250px;
}
